@import '@fontsource/fira-mono';

:root {
	--font-body: 'Libre Baskerville', serif;
	--font-title: 'serenity', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--padding-top-mobile: 40px;
	--padding-top-desktop: 70px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-0);
	background-size: 100vw 100vh;
	font-family: var(--font-body);
}

.markdown {
	margin: 0;
	font-size: 0.8rem;
	line-height: 1.5;

	p {
		margin-block-start: 0;
	}

	@media (min-width: 600px) {
		font-size: 0.9rem;
		line-height: 2.5;
	}
}

a {
	color: #7a7a7a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}
