$neutral-90: #434a54;
$neutral-80: #58616e;
$neutral-70: #707a8a;
$neutral-60: #8e99ab;
$neutral-50: #aeb9cb;
$neutral-40: #c8d1e0;
$neutral-30: #dee3ed;
$neutral-20: #ebeff5;
$neutral-10: #f5f7fa;
$white: #ffffff;
$black: #000000;